<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head') %>
</head>
</head>
<body>
    <%-include('./inc/nav') %>
    <section>
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas similique facere eum quibusdam, voluptatem consectetur nam deleniti nesciunt! Sit deserunt et nihil, quasi cupiditate quaerat expedita nemo illo molestias est voluptate laborum veritatis asperiores tenetur quos, itaque eaque. Repudiandae illum soluta non totam deserunt, consequatur at temporibus reprehenderit nemo iure.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolorem voluptates ipsum expedita, maxime optio sit quae deleniti, fuga dolore consectetur vero ab sint amet ratione esse, velit earum vitae?</p>
    </section>
</body>
</html>