<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head') %>
</head>
<body>
    <%-include('./inc/nav') %>
    <section>
        <h1>Blogs</h1>
        <ul>
            <li>
                <a href="#">Blog 1</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque?</p>
            </li>
            <li>
                <a href="#">Blog 2</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque?</p>
            </li>
            <li>
                <a href="#">Blog 3</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, atque?</p>
            </li>
        </ul>
    </section>
</body>
</html>