
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid black;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav ul li {
    margin-right: 30px;
}
section{
    max-width: 50%;
    margin: 40px auto;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 40px auto;
}
form input{
    margin-top: 10px;
    padding: 5px;
}